{
    "presets": [
        [
            "@babel/preset-env",
            {
            "targets": {
                "esmodules": true
            }
            }
        ],
        "@babel/preset-react"
    ],
    // "env": {
    //     "development": {
    //         "presets": [
    //             "react-hmre"
    //         ]
    //     }
    // }
}
